* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(211 86% 7%);
    height: 100vh;
    overflow: hidden;
}

.image {
    /* width: 50vmin; */
    position: absolute;
    transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
    display: none;
}

.image[data-status="active"] {
    display: block;
}